
<div class="container " >
  <h1>{{title}}</h1>


    <div class="sContainer">
      <p class="pContainer" style="font-weight: bolder; text-decoration: underline;" >
        bonjour
      </p>
      <app-child info="{{arrayArticles}}" ></app-child>
      <input type="string" [(ngModel)]="nom">

      <input type="number" [(ngModel)]="num1">
      <div>
        <p>{{arrayArticles}}</p><button>Supression</button>
      </div>

      <div class="buttons">
      <button > Ajouts</button>

      </div>
    </div>
</div>
