<nav>
  <ul>
    <li>
      <a routerLink="/demos/bindings">Binding</a>
    </li>
    <li>
      <a routerLink="/demos/pipes">Pipes</a>
    </li>
    <li>
      <a routerLink="/demos/times">Chrono</a>
    </li>
    <li>
      <a routerLink="/demos/directive">Directive</a>
    </li>

  </ul>
  <ul>
    <ul>exo</ul>
    <li><a routerLink="/demos/times">Chrono</a></li>
    <li><a routerLink="/demos/directive">Directive</a></li>
    <ul>demo</ul>
    <li>
      <a routerLink="/demos/bindings">Binding</a>
    </li>
    <li>
      <a routerLink="/demos/pipes">Pipes</a>
    </li>
  </ul>
</nav>
