/* You can add global styles to this file, and also import other style files */
html,body{
  height:100%;
  margin:0;
  padding:0;

}
.container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

.bold{
  font-weight: bolder;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
