/* You can add global styles to this file, and also import other style files */
html,body{
  height:100%;
  margin:0;
  padding:0;

}
.container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

.bold{
  font-weight: bolder;
}
.sContainer{
  border: solid;
  border-color: darkgreen;
  .pContainer{
    background-color: chartreuse;
  }
}
.p-fieldset-legend{
    display:none;
}

/*
@import "primeng/resources/themes/lara-light-blue/theme.css";*/
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/arya-orange/theme.css";
