.bindings-example{
  h4{
    margin-top:5rem;
  }
  input{
    width:35rem;
  }
  .changeBgColor{
    background:chartreuse;
  }
  .buttons{
    border-radius: 2rem ;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;

    button{
      width:10rem;
      height:4.5rem;

    }
  }
}
